body {
    font-family: Arial, sans-serif;
    background-color: #CCDBDC; /* Light Blue */
    color: #003249; /* Dark Blue */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #007EA7; /* Blue */
}

.scoreboard {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #9AD1D4; /* Light Cyan */
    border: 2px solid #80CED7; /* Light Cyan */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.box:hover {
    background-color: #80CED7; /* Light Cyan */
    border-color: #007EA7; /* Blue */
    color: #FFFFFF; /* White */
}

.box:active {
    transform: scale(0.95);
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #007EA7; /* Blue */
    color: #CCDBDC; /* Light Blue */
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #003249; /* Dark Blue */
}

a {
    text-decoration: none;
    color: #CCDBDC; /* Light Blue */
}
